body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background: url("dragon/fondodragon.jpg");
    position: relative;

}




h1{

    text-align: center;
    position: absolute;
    top: 1px;
    right: 2px;
    left: 2px;
    font-family: "Archivo Black", sans-serif;
    color: orange;
    font-size: 50px;
    border: 5px solid #ff0909;
    backdrop-filter: blur(15px);
    border-radius:10px ;  
}

section{
    display: flex;
    width: 600px;
    height: 350px;
    border: 10px solid #ffea04;
    border-radius: 10px;
    box-shadow:2px 2px 20px yellow  ;    
}
.text1{
    position: absolute;
}
.text2{
    position:absolute;
    
}
section img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .6;
    transition: 3s ease;
}

section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

